@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azul-petroleo: #295264;
    --beige: #FAD9A6;
    --rojo-terracota: #BD2F28;
    --borgoña: #89373D;
    --azul-oscuro: #142433;
    --gris: #939393;
    --gris-2: #EBEBEB;
    --fuente-1: Big Shoulders Display;
    --fuente-2: Lexend Deca;
    --fuente-3: Roboto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
ul,
ol {
    list-style: none;
}

button,
input,
textarea {
    border: none;
    outline: none;
}

.gradient1 {
    background: var(--azul-oscuro);

}

.button1 {
    background: var(--rojo-terracota);
    color: #fff;
    font-family: var(--fuente-3);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 8px;
}

.button2 {
    color: var(--beige);
    background: var(--azul-petroleo);
    font-family: var(--fuente-3);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 8px;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

@media (width <=360px) {
    .icons-container {
        gap: 20px;
    }

    .icon {
        max-width: 112px;
    }
}