.segment2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    gap: 85px;
}

.segment2 .section-container {
    width: 655px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.segment2 .section-container h2 {
    font-family: var(--fuente-1);
    font-weight: 700;
    font-size: 64px;
    color: var(--beige);
}

.segment2 .section-container p {
    font-family: var(--fuente-2);
    font-size: 16px;
    color: var(--beige);
}

.segment2 .section-container .button1 {
    align-self: flex-start;
}

.segment2 img {
    width: 600px;
    height: 400px;
    border-radius: 12px;
}

.segment2-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    gap: 85px;
}

.segment2-features .section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.segment2-features .section-container h2 {
    font-family: var(--fuente-1);
    font-weight: 700;
    font-size: 64px;
    color: var(--azul-oscuro);
    text-align: center;
}

.segment2-features .icons-container .icon img {
    height: 150px;
}

.segment2-features .icons-container .icon span {
    font-family: var(--fuente-1);
    font-size: 24px;
    font-weight: 900;
    color: var(--azul-oscuro);
}

@media (width <=360px) {
    .segment2 {
        flex-direction: column;
        gap: 20px;
        padding-block: 30px;
    }

    .segment2 .section-container {
        width: 300px;
        gap: 20px;
    }

    .segment2 .section-container h2 {
        font-size: 32px;
    }

    .segment2 .section-container p {
        font-size: 13px;
    }

    .segment2 .section-container .button1 {
        align-self: flex-start;
        width: 100%;
    }

    .segment2 img {
        width: 300px;
        height: 200px;
    }

    .segment2-features .section-container {
        width: 310px;
    }

    .segment2-features .section-container h2 {
        font-size: 36px;
        width: 310px;
    }

    .segment2-features .icons-container .icon img {
        height: 85px;
    }

    .segment2-features .icons-container .icon span {
        font-weight: 900;
        text-align: center;
    }
}